# Ignore editor and IDE files
.vscode/
.idea/

# Ignore Python virtual environment files
venv/
env/

# Ignore log files
*.log

# Ignore database files
*.db

# Ignore compiled Python bytecode
__pycache__/

# Ignore local development configuration files
local_settings.py

# Ignore system and temporary files
.DS_Store
Thumbs.db
*.tmp
*.swp
