# Ignore compiled Python bytecode
*.pyc

# Ignore virtual environment
/venv/

# Ignore log files
*.log

# Ignore database files
*.sqlite

# Ignore sensitive configuration files
config.ini
secrets.txt
